name: Updates Repo

on:
  push:
    branches:
      - test2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        ref: refs/heads/test2
    - name: Commit files
      run: |
        date +%s > report.txt
        echo ${{ github.ref }}
        git add .
        git status
        git config --local user.email "action@github.com"
        git config --local user.name "Github Action"
        git commit -m "ci: automated build push" -a | exit 0
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"        
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: 'ci: add files for ${{steps.date.outputs.date}}'
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        title: '[example] add report file'
        body: |
          new report
          - contains ${{steps.date.outputs.date}} date
          - auto-generated by [create-pull-request][1]
          - test

          [1]: https://github.com/peter-evans/create-pull-request
        labels: report, automated pr
        assignees: mayrop
        reviewers: mayrop
        branch: create-pull-request/patch
        base: master
        request-to-parent: false
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
        echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"        